body{
	background: url(../images/background.jpg) center 0 no-repeat;
    background-color:#0f2b2c;
   	background-size:cover
}

.container{
	max-width: 970px !important;
}

.search{
	padding: 150px 0 0px;
	width: 50%;
	margin: auto;
}

.intro{
	text-align: center;
	font: 70px/80px;
	padding: 200px 0 0;
}

.video-grid{
	margin-left: ;
}
